@charset "UTF-8";
/* TABLE DES MATIERES */
/* GLOBAL */
/* BODY */
/* HEADER */
/* MAIN */
/* FOOTER */
/* RESPONSIVE : 
    - ECRAN DE 1400PX DE LARGE
    - ECRAN DE 1024PX DE LARGE
    - ECRAN DE 768PX DE LARGE
    -/* Les règles CSS suivantes vont s'appliquer à tous les écrans ayant une largeur supérieur et égale à 320px et inférieur à 580px*/
/* JUSQU'A 320PX */
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  background-color: #e5e5e5;
}

/* HEADER */
header {
  background-color: #345765;
}
header #header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1400px;
}
header #header img {
  width: 124px;
  height: 80px;
  object-fit: cover;
  padding: 0.625rem 0;
}
header #header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
header #header nav a {
  color: white;
  display: block;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}
header #header nav a:hover {
  background-color: #056286;
}

/* MAIN */
main {
  max-width: 1400px;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 8.125rem;
}
main h1 {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.6px;
  color: #34a58a;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  padding-left: 0.625rem;
}
main #billard {
  width: 100%;
  height: 565px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 2.063rem;
}
main section {
  display: flex;
}
main section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  letter-spacing: 1.6px;
  color: #6b5b54;
}
main section p {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1.6px;
  color: black;
}
main section iframe {
  width: 547px;
  height: 552px;
  border-radius: 10px;
  border: 2px solid white;
}
main section a {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  color: #34a58a;
}
main #Presentation h2 {
  margin-bottom: 3.25rem;
}
main #Coordonnee {
  margin-top: 7rem;
}
main #Coordonnee h2 {
  margin-bottom: 1.313rem;
}
main #Coordonnee .localisation {
  padding-bottom: 1.813rem;
}
main #Coordonnee .localisation img {
  width: 16px;
  height: 20px;
  color: #34a58a;
  margin-right: 1.313rem;
}
main #Coordonnee .localisation p {
  color: #34a58a;
}
main #Coordonnee .mail {
  padding-bottom: 1.313rem;
}
main #Coordonnee .mail img {
  width: 25px;
  height: 20px;
  color: #34a58a;
  margin-right: 0.625rem;
}
main #Coordonnee .mail a {
  color: #34a58a;
}
main #Coordonnee .Telephone {
  padding-bottom: 1.313rem;
}
main #Coordonnee .Telephone img {
  width: 21px;
  height: 20px;
  color: #34a58a;
  margin-right: 0.813rem;
}
main #Coordonnee .Telephone a {
  color: #34a58a;
}
main #Carte {
  margin-left: 5.813rem;
}
main #Carte h2 {
  padding-bottom: 2.938rem;
}

.localisation {
  display: flex;
  align-items: flex-start;
}
.localisation img {
  object-fit: cover;
}

.Telephone {
  display: flex;
  align-items: flex-start;
}
.Telephone img {
  object-fit: cover;
}
.Telephone a {
  text-decoration: none;
}
.Telephone a:hover {
  text-decoration: underline;
}

.mail {
  display: flex;
  align-items: flex-start;
}
.mail img {
  object-fit: cover;
}
.mail a {
  text-decoration: none;
}
.mail a:hover {
  text-decoration: underline;
}

/* FOOTER */
footer {
  background-color: #345765;
}
footer h3 {
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.6px;
  color: white;
  text-decoration: underline;
  padding-bottom: 2rem;
}
footer a {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1.6px;
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer p {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1.6px;
  color: white;
}
footer #footer {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  padding-top: 6.125rem;
  padding-bottom: 4.375rem;
}
footer #CD .Telephone {
  padding-bottom: 1rem;
}
footer #CD .Telephone img {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  color: white;
}
footer #CD .mail {
  padding-bottom: 2rem;
}
footer #CD .mail img {
  margin-right: 0.813rem;
  width: 24px;
  height: 20px;
  color: white;
}
footer #CD .localisation img {
  margin-right: 1.063rem;
  width: 20px;
  height: 20px;
  color: white;
}
footer #IA #a1 {
  display: flex;
}
footer #IA #a1 a {
  position: relative;
  padding: 0.625rem;
}
footer #IA #a1 a::after {
  position: absolute;
  content: "";
  height: 50%;
  width: 2px;
  background-color: white;
  top: 22px;
  right: 0;
  transform: translateY(-50%);
}
footer #IA #a1 a:first-of-type {
  padding-left: 0;
}
footer #IA #a1 a:last-of-type::after {
  display: none;
}
footer #IA #a2 {
  display: flex;
  align-items: center;
}
footer #IA #a2 a {
  position: relative;
  padding: 0.625rem;
}
footer #IA #a2 a::after {
  position: absolute;
  content: "";
  height: 50%;
  width: 2px;
  background-color: white;
  top: 22px;
  right: 0;
  transform: translateY(-50%);
}
footer #IA #a2 a:last-of-type::after {
  display: none;
}
footer #image {
  display: flex;
  flex-direction: column;
}
footer #image #Aisne {
  width: 115px;
  height: 115px;
  margin-bottom: 0.625rem;
  object-fit: cover;
}
footer #image #logo {
  width: 115px;
  height: 121px;
  object-fit: cover;
}
footer hr {
  border: 2px solid white;
}
footer #district {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
  color: white;
  margin-top: 1.313rem;
  padding-bottom: 1.188rem;
}

/* RESPONSIVE */
/* Les règles CSS suivantes vont s'appliquer à tous les écrans possèdant une largeur en dessous de 1400px*/
@media screen and (max-width: 1400px) {
  header #header {
    margin-right: 1.25rem;
  }
  header a {
    padding: 1.813rem 0.875rem;
  }
  main {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 4.875rem;
    margin-bottom: 5.688rem;
  }
  main h1 {
    font-size: 1.75rem;
    padding-bottom: 2.488rem;
    padding-left: 0.625rem;
  }
  main #billard {
    height: 395px;
    margin-bottom: 1.438rem;
  }
  main section h2 {
    font-size: 1.563rem;
  }
  main section p {
    font-size: 0.875rem;
  }
  main section iframe {
    width: 382px;
    height: 386px;
  }
  main section a {
    font-size: 0.875rem;
  }
  main #Presentation h2 {
    margin-bottom: 2.25rem;
  }
  main #Coordonnee {
    margin-top: 4.875rem;
  }
  main #Coordonnee h2 {
    margin-bottom: 0.875rem;
  }
  main #Coordonnee .localisation {
    padding-bottom: 1.25rem;
  }
  main #Coordonnee .localisation img {
    width: 11px;
    height: 14px;
    margin-right: 0.875rem;
  }
  main #Coordonnee .mail {
    padding-bottom: 0.875rem;
  }
  main #Coordonnee .mail img {
    width: 17px;
    height: 14px;
    margin-right: 0.625rem;
  }
  main #Coordonnee .Telephone {
    padding-bottom: 0.875rem;
  }
  main #Coordonnee .Telephone img {
    width: 14px;
    height: 14px;
    margin-right: 0.625rem;
  }
  main #Carte {
    margin-left: 4.063rem;
  }
  main #Carte h2 {
    padding-bottom: 2.063rem;
  }
  footer h3 {
    font-size: 0.875rem;
    padding-bottom: 1.375rem;
  }
  footer a {
    font-size: 0.875rem;
  }
  footer p {
    font-size: 0.875rem;
  }
  footer #footer {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    padding-top: 4.25rem;
    padding-bottom: 3.063rem;
  }
  footer #CD .Telephone {
    padding-bottom: 0.625rem;
  }
  footer #CD .Telephone img {
    margin-right: 0.625rem;
    width: 14px;
    height: 14px;
  }
  footer #CD .mail {
    padding-bottom: 1.375rem;
  }
  footer #CD .mail img {
    margin-right: 0.625rem;
    width: 11px;
    height: 14px;
  }
  footer #CD .localisation img {
    margin-right: 1.063rem;
    width: 14px;
    height: 14px;
  }
  footer #IA #a1 a {
    position: relative;
    padding: 7px;
  }
  footer #IA #a1 a::after {
    position: absolute;
    content: "";
    height: 50%;
    width: 2px;
    background-color: white;
    top: 15px;
    right: 0;
    transform: translateY(-50%);
  }
  footer #IA #a2 a {
    position: relative;
    padding: 7px;
  }
  footer #IA #a2 a::after {
    position: absolute;
    content: "";
    height: 50%;
    width: 2px;
    background-color: white;
    top: 15px;
    right: 0;
    transform: translateY(-50%);
  }
  footer #image #Aisne {
    width: 80px;
    height: 80px;
    margin-bottom: 0.625rem;
  }
  footer #image #logo {
    width: 80px;
    height: 84px;
  }
  footer #district {
    font-size: 0.875rem;
    margin-top: 0.875rem;
    padding-bottom: 0.813rem;
  }
}
/* Les règles CSS suivantes vont s'appliquer à tous les écrans possèdant une largeur en dessous de 1024 px*/
@media screen and (max-width: 1024px) {
  header a {
    padding: 1.75rem 0.875rem;
  }
  main {
    margin-top: 4.875rem;
    margin-bottom: 5.688rem;
  }
  main h1 {
    font-size: 1.75rem;
    padding-bottom: 2.488rem;
    padding-left: 0.5rem;
  }
  main #billard {
    height: 395px;
    margin-bottom: 1.438rem;
  }
  main section h2 {
    font-size: 1.653rem;
  }
  main section p {
    font-size: 0.875rem;
  }
  main section iframe {
    width: 382px;
    height: 386px;
  }
  main section a {
    font-size: 0.875rem;
  }
  main #Presentation h2 {
    margin-bottom: 2.25rem;
  }
  main #Coordonnee {
    margin-top: 4.875rem;
  }
  main #Coordonnee h2 {
    margin-bottom: 0.875rem;
  }
  main #Coordonnee .localisation {
    padding-bottom: 1.25rem;
  }
  main #Coordonnee .localisation img {
    width: 11px;
    height: 14px;
    margin-right: 1rem;
  }
  main #Coordonnee .mail {
    padding-bottom: 0.875rem;
  }
  main #Coordonnee .mail img {
    width: 17px;
    height: 14px;
    margin-right: 0.625rem;
  }
  main #Coordonnee .Telephone {
    padding-bottom: 0.875rem;
  }
  main #Coordonnee .Telephone img {
    width: 14px;
    height: 14px;
    margin-right: 0.625rem;
  }
  main #Carte {
    margin-left: 4.063rem;
  }
  main #Carte h2 {
    padding-bottom: 322.063rem;
  }
  footer h3 {
    font-size: 0.938rem;
    padding-bottom: 1.25rem;
  }
  footer a {
    font-size: 0.875rem;
  }
  footer p {
    font-size: 0.875rem;
  }
  footer #footer {
    padding-top: 4.25rem;
    padding-bottom: 3.063rem;
  }
  footer #CD .Telephone {
    padding-bottom: 0.625rem;
  }
  footer #CD .Telephone img {
    margin-right: 0.625rem;
    width: 14px;
    height: 14px;
  }
  footer #CD .mail {
    padding-bottom: 1.25rem;
  }
  footer #CD .mail img {
    margin-right: 0.625rem;
    width: 16px;
    height: 14px;
  }
  footer #CD .localisation img {
    margin-right: 1.063rem;
    width: 14px;
    height: 14px;
  }
  footer #IA #a1 a {
    position: relative;
    padding: 0.625rem;
  }
  footer #IA #a1 a::after {
    position: absolute;
    content: "";
    height: 50%;
    width: 2px;
    background-color: white;
    top: 15px;
    right: 0;
    transform: translateY(-50%);
  }
  footer #IA #a2 a {
    position: relative;
    padding: 0.625rem;
  }
  footer #IA #a2 a::after {
    position: absolute;
    content: "";
    height: 50%;
    width: 2px;
    background-color: white;
    top: 15px;
    right: 0;
    transform: translateY(-50%);
  }
  footer #image #Aisne {
    width: 80px;
    height: 80px;
    margin-bottom: 0.5rem;
  }
  footer #image #logo {
    width: 80px;
    height: 84px;
  }
  footer #district {
    font-size: 0.875rem;
    margin-top: 0.875rem;
    padding-bottom: 0.938rem;
  }
}
/* RESPONSIVE */
/* Les règles CSS suivantes vont s'appliquer à tous les écrans possèdant une largeur en dessous de 768 px*/
@media screen and (max-width: 768px) {
  header nav ul {
    width: 45px;
    height: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    position: relative;
    margin-right: 1.25rem;
  }
  header nav ul::after {
    content: "";
    top: 50%;
    height: 2px;
    background-color: white;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
  }
  header nav li {
    display: none;
  }
  main #billard {
    height: 214px;
  }
  main section {
    display: block;
  }
  main section p {
    font-size: 0.625rem;
  }
  main section iframe {
    width: 100%;
    height: 200px;
  }
  main section a {
    font-size: 0.625rem;
  }
  main #Presentation h2 {
    margin-right: 0.938rem;
  }
  main #Coordonnee {
    margin-top: 4.875rem;
  }
  main #Coordonnee h2 {
    margin-right: 0.938rem;
  }
  main #Coordonnee .localisation {
    padding-bottom: 1.25rem;
  }
  main #Coordonnee .localisation img {
    width: 11px;
    height: 14px;
    margin-right: 0.938rem;
  }
  main #Coordonnee .mail {
    padding-bottom: 0.875rem;
  }
  main #Coordonnee .mail img {
    width: 17px;
    height: 14px;
    margin-right: 0.625rem;
  }
  main #Coordonnee .Telephone {
    padding-bottom: 0.875rem;
  }
  main #Coordonnee .Telephone img {
    width: 14px;
    height: 14px;
    margin-right: 0.625rem;
  }
  main #Carte {
    margin-left: 0;
  }
  main #Carte h2 {
    padding-bottom: 0.625rem;
  }
  footer #footer {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    display: block;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
  }
  footer .mail {
    justify-content: center;
  }
  footer .mail img {
    width: 16px;
  }
  footer .Telephone {
    justify-content: center;
  }
  footer .localisation {
    justify-content: center;
  }
  footer #a1 {
    justify-content: center;
  }
  footer #a2 {
    justify-content: center;
  }
  footer #image {
    flex-direction: row;
    justify-content: center;
  }
}
/* Les règles CSS suivantes vont s'appliquer à tous les écrans ayant une largeur supérieur et égale à 320px et inférieur à 580px*/
@media screen and (min-width: 320px) and (max-width: 580px) {
  main {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  main #billard {
    height: 120px;
  }
  main #Coordonnee {
    margin-top: 1.25rem;
  }
  footer #footer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
